/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Сбрасываем margin, задаём минимальные размеры */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
